.profileCard{
    margin: 30px 0px 0px 30px;
    background: rgba(87, 70, 234, 1);
    width: 40vw;
    height: 35vh;
    border-radius: 20px;
    display: flex;
}
.profileImg{
    margin: 20px;
    width: 10vw;
    height: 30vh;
}
.profileInfo{
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}
.selectedItems{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    max-width: fit-content;
    max-height: 80px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
}
.selectedItem{
    width: 100px;
    height: 30px;
    background: rgba(159, 148, 255, 1);
    border-radius: 20px;
    padding-left: 20px;
}
/* Style the scroll bar thumb and track for webkit-based browsers */
.selectedItems::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.selectedItems::-webkit-scrollbar-thumb {
    background-color:rgba(159, 148, 255, 1); /* Set the color of the thumb (scroll bar handle) */
    border-radius: 20px; /* Set the border radius of the thumb */
}

.selectedItems::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Set the color of the thumb on hover */
}

.selectedItems::-webkit-scrollbar-track {
    background: #325fac; /* Set the color of the track (the area behind the thumb) */
}